<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!------------------------------ MATERIALIZE CSS CDN----------------------- --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {{!------------------------------ MATERIALIZE ICONS----------------------- --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!------------------------------ GOOGLE FONTS----------------------- --}}
  <link href="https://fonts.googleapis.com/css?family=Play:400,700&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="/public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
 


  {{{body}}}

  {{!------------------------------ MATERIALIZE  JAVASCRIPT CDN----------------------- --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../../public/js/index.js"></script>
  <script src="../../public/js/isAuthenticated.js"></script>
  <script src="../../public/js/login.js"></script>
  <script src="../../public/js/signup.js"></script>
  <script src="../../public/js/passport.js"></script>
  
</body>

</html>