<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Goalbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Josefin+Sans|Play|Ubuntu|ZCOOL+KuaiLe&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/app.css" />
</head>
<body>
    <nav>
        <div class="nav-wrapper white">
            <a href="#!" class="brand-logo red-text play-font">
                <i class="material-icons">check_circle</i>GoalBot</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger red-text">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" class="red-text">Sign up</a></li>
                <li><a href="#" class="red-text">Login</a></li>
                <li><a href="./app.html" class="red-text">App</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#" class="red-text">Sign up</a></li>
        <li><a href="#" class="red-text">Login</a></li>
        <li><a href="collapsible.html" class="red-text">App</a></li>
    </ul>

    <div class="container">
        <div id="row-1" class="row">
            <div class="col s4">
                <img id="avatar" src="https://mmtcdn.blob.core.windows.net/084395e6770c4e0ebc5612f000acae8f/mmtcdn/Products20549-640x640-592019517.jpg"
                    alt="">
            </div>
            <div class="col s7 play-font">
                <br> Name: Chris Stead
                <br> Level 10 Warrior
                <br> HP:
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
                Experience:
                <div class="progress">
                    <div class="determinate" style="width: 40%"></div>
                </div>
            </div>
        </div>
        <!-- Row 1 ending div -->

        <div id="row-2" class="row">
            <nav class="nav-extended">
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><a class="active menu-button" href="#test1">To Do</a></li>
                        <li class="tab"><a class="menu-button" href="#test2">Daily Goal</a></li>
                        <li class="tab"><a class="menu-button" href="#test3">Habit Goal</a></li>
                        <li class="tab"><a class="menu-button" href="#test4">Rewards</a></li>
                    </ul>
                </div>

            </nav>
            <!-- <div class="col s3">
                <a class="waves-effect waves-light btn red">To Do</a>
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn red">Daily Goal</a>
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn red">Habit Goal</a>
            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn red">Rewards</a>
            </div> -->
        </div>
        <!-- Row 2 Ending Div -->

    </div>
    <!-- Container ending div -->








    <!-- <script src="./assets/javascript/jquery.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../public/js/index.js"></script>
</body>
</html>