/* This overlaps with styles.css */
.play-font {
    font-family: 'Play', sans-serif;
}

/* Theme */
body {
    font-family: 'Play', sans-serif;
}

/* App */
.nav-extended {
    background-color: #3E3E3E !important;
}

#avatar {
    width: 170px;
    margin-top: 5px;
}
/* 
#avatarAndStats {
    display: flex;
    justify-content: center !important;
    align-items: center;
    justify-items: center !important;
} */

#brand-logo, .red-text {
    color: #3E3E3E !important;
    margin-left: 5px;
}

#jumbotron {
    background-image: url(../images/homeSpace1.png);
    background-size: cover;
    background-position: center;

}

#logo-icon {
    color: #ffb300 !important;
}
