/* This overlaps with styles.css */
.play-font {
    font-family: 'Play', sans-serif;
}

/* Theme */
body {
    font-family: 'Play', sans-serif;
}

#brand-logo, .red-text {
    color: #3E3E3E !important;
    margin-left: 5px;
}

#logo-icon {
    color: #ffb300 !important;
}


/* App */
.nav-extended {
    background-color: #3E3E3E !important;
}

#avatar {
    width: 170px;
    margin-top: 5px;
}

