
body {
  font-family: "Play", sans-serif;


  /* Enables Sticky Footer START */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* Enables Sticky Footer END */
}

/* Enables Sticky Footer START */
main {
  flex: 1 0 auto;
}
/* Enables Sticky Footer END */


.letter-spacing {
  letter-spacing: 1px;
}


.play-font {
  font-family: 'Play', sans-serif !important;
}

.list-group-item {
  line-height: 2.5;
}

#appContainer {
  margin: 0 auto;
  width: 100%;
}

#avatar {
  width: 200px;
}

#avatarAndStats {
  background-image: url('https://image.freepik.com/free-photo/metallic-background_53876-14624.jpg');
  background-size: cover;
  background-position-y: bottom;
  
  margin-top: 0;
  margin-bottom: 0;
}

#collapsibleBody {
  padding-top: 0;
}

#levelUpImage {
  width: 200px;
}

#levelUpImageContainer {
  /* Orange Energy */
  background-image: url('https://media0.giphy.com/media/CyeGh5u6xmhgY/giphy.gif');
  background-repeat: no-repeat;
  background-position: 45% 35%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  
  /* We need to center the avatar */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#levelUpModalContentContainer {
  /* We need ot center the animation into the middle of the modal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#levelUpStatsTable {
  width: 400px;
  border-radius: 10px;
}

#menuButtons {
  margin: 0;
}

#navbarTitle {
  letter-spacing: 2px;
}

#statsContainer {
  color: white;
  margin-top: 30px;
}

#subtaskContainer {
  margin: 0;
  padding: 0;
}

#test1 {
  padding: 0;
  margin: 0;
}